/**通用***/
body{
	font-size: 16px;
    color: #000000;
    font-family: 'Microsoft YaHei', "微软雅黑";
}
header{
	margin-top:0px;
	width: 100%;
}
section{
	width:100%;
}
div#main-content{
	width:100%;
	margin-top:350px;
}
footer{
	width:100%;
	padding-left:10%;
	padding-right:10%;
}
/****列表显示***/
table.list-tb{
	width:100%;
	table-layout: fixed;
}
table.list-tb td a{
	width:70%;
	text-align: left;
	overflow: hidden;
	font-size: 14px;
	color:#333333;
	text-decoration: none;
}
table.list-tb td.words{
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.list-tb td.date{
	width:30%;
}
ul.bullet-points{
	width:100%;
}
ul.bullet-points li img{
	width:14px;
	height:18px;
	margin-right: 10px;
}
ul.bullet-points li span{
	color:white;
	font-size: 14px;
	text-align: left;
}
ul.bullet-points li {
	margin-bottom: 10px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/****section title***/
div.section-title{
	width:300px;
	margin-left: auto;
	margin-right:auto;
}
div.section-title img{
	width:56px;
	height:76px;
}
div.section-title span{
	font-weight:bold;
	font-size:36px;
	color:#333333;
	margin-left:24px;
}
/**** btns ***/
.more-btn{
	border:0;
	background-color: #168bf2;
	width:50px;
	height: 28px;
	color:white;
	border-radius:30px;
	font-size:14px; 
	margin-top:22px;
}
/** 通用结束 ***/

/********************header********************/
div#banner{
	position:absolute;
	top:0px;
	width:100%;
	height:380px;
	background: url("../images1/bg-banner.jpg") no-repeat;
	background-size: cover;
}
/*******修改最上面的导航栏**********/
div.top-header{
	background-color:#0000CD;
	background-size: cover;
	width:100%;
	height:45px;
	margin-top:10px;
}
div#top-bar{
	width:1200px;
	margin:0 auto;
	height:100%;
}
img#brand-img{
	position:relative;
	width:121px;
	height:41px;
	top:-15px;
}
ul#top-menu{
	height:45px;
}
ul#top-menu li a{
	color:white;
	font-size: 18px
}
ul#top-menu li a:hover{
	color:#03e2f6;
}
div.top-bar-group{
	height:30px;
	margin-top: 9px;
}
div.top-bar-group button{
	width:75px;
	margin-right: 9px;
	background-color: #168bf2;
	border:0;
	color:white;
	height:100%;
	font-size: 14px;
}
button#sign-in, button#sign-up{
	width:50px;
}
/*******完成修改最上面的导航栏**********/

/******* 修改搜索框 **********/
div.search{
	margin-top:170px;
	margin-left: 320px;
	height:41px;
}
div.input-group{
	width:470px;
	height:100%;
}
#search-by-theme > div > div > button{
	width:96px;
	height:41px;
}
#search-by-theme > div > input{
	width:374px;
	height:41px;
}
#search-btn{
	height:41px;
	border:0;
	background-color: #168bf2;
	color: white;
}
/******* finish 修改搜索框 **********/
/******* 修改底部菜单栏 **********/
div.bottom-menu{
	background-color:#0000CD;
	background-size: cover;
	width:100%;
	height:44px;
	margin-top:75px;
}
div.bottom-menu div.container{
	width:1200px;
	margin:0 auto;
}
#banner > div.bottom-menu > div > ul{
	width:100%;
}
div.bottom-menu > div > ul > li{
	width:14%;
}
#banner > div.bottom-menu > div > ul > li > a{
	color:white;
	font-size:18px;
	margin-top: -4px;
}
#banner > div.bottom-menu > div > ul > li > a:hover{
	color:#03e2f6;
}
#banner > div.bottom-menu > div > ul > li > img{
	position:relative;
	top:-20px;
	left:40px;
}
/******* finish 修改底部菜单栏 **********/
/******************** end of header ********************/

/******************** main content ********************/
/******* 行业聚焦section **********/
section#industry{
	background: url("../images1/bg-industry.png") no-repeat;
	background-size: cover;
	height:459px;
	padding-top:34px;
}
div.ins-container{
	width:100%;
	margin:0 auto;
	padding-left:10%;
	padding-right:40px;
	width:100%;
}
div.ins-content{
	margin-top:58px;
	width:100%;
}
div#inbox1{
	width:349px;
	padding:0;	
	height:222px;
	float:left;
	margin-left:100px;
}
div#inbox2{
	padding-top:12px;
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
	width:350px;
	height:300px;
	margin-left:100px;	
}
div#inbox3{
	padding-top:12px;
	padding-left:15px;
	padding-right:15px;
	float:right;
	width:350px;
	height:300px;
}
#show-img{
	width:349px;
	margin-top: 40px;
}
#industry > div > div.section-title.ins-title{
	position:relative;
	left:-36px;
}

/***新闻栏部分***/
div.inbox-title{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	color:#333333;
}
div.inbox-tabs{
	width:100%;
	height:70px;
	padding-top:5px;
}
#inbox2-tab > li > a{
	font-size: 12px;
}
#inbox2-tab > li {
	width:80px;
}
#inbox2-content{
	height:170px;
	padding-top: 20px;
}
#inbox3-content{
	height:170px;
	padding-top: 20px;
}
/******* 战略思维 section **********/
section#strategy{
	padding-top:34px;
	width:100%;
}
div.str-container{
	width:1200px;
	margin:0 auto;
}
div.str-content{
	width:100%;
	display: table;
	margin-top:43px;
}
div.str-box{
	display:table-cell;
	background:url("../images1/bg-box.png") no-repeat;
	width:391px;
	height:329px;
	padding-top:42px;
	padding-left: 22px;
	padding-right: 22px;
	margin-right: 22px;
}
div.str-sub-title{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#333333;
	margin-bottom: 37px;
}
/******* finish 战略思维 section **********/
/******* 风控管理 section **********/
section#risk-management{
	width:100%;
	margin-top:75px;
	padding-top:50px;
	background: url("../images1/bg-risk.png") no-repeat;
	z-index:-1; 
}
#risk-management > div > div > h2 > span{
	color:white;
}
div.rsk-container{
	width:1200px;
	margin:0 auto;
	height:100%;
	z-index:1;  
}
#risk-management > div > div.risk-content{
	width:100%;
	background: url("../images1/bg-riskbox.png") no-repeat;
	height:406px;
	margin-top: 20px;
}
div#rsk-title{
	height:80px;
	padding-top: 10px;
	padding-left: 10px;
}
#rsk-tab > li{
	width:150px;
	height:70px;
}
#rsk-tab > li a{
	font-weight: bold;
	font-size:18px;
	color:#333333;
}
#rsk-tab > li a:hover,a:active{
	color:#285ac3;
}
#rsk-body{
	padding-top: 60px;
	padding-right: 22px;
	padding-left:22px;
}


/******* end of 风控管理 section **********/
/******* 管理增值 section **********/
section#improvement-management{
	width:100%;
	background: url("../images1/bg-improvement.png") no-repeat;
	height:938px;
	padding-top: 39px
}
div.imp-container{
	width:1200px;
	margin:0 auto;
}
div.imp-layout{
	margin-top:45px;
	width:100%;
}
div.imp-row{
	margin-bottom: 41px;
	height:329px;
	display: table;
}
div.imp-box{
	display: table-cell;
	height:100%;
	width:391px;
	margin-right: 20px;
	background: url("../images1/bg-box.png") no-repeat;
	padding-top: 52px;
	padding-left: 32px;
	padding-right: 22px;
}
div.imp-subtitle{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	color:#333333;
}
div.imp-boxbody{
	margin-top: 37px
}
/******* end of 管理增值 section **********/
/******* 热点词汇 section **********/
section#heat-container{
	width:100%;
	background:url("../images1/bg-heatmap.png") no-repeat;
	margin-top: 10px;
	background-size:100% 100%;
}
div.heat-container{
	width:1200px;
	height:650px;
	margin:0 auto;
	padding-top:48px;
}
div.map-words a{
	text-decoration: none;
}
/****单词布局效果****/
div#mw1 a{
	position:relative;
	top:107px;
	left:212px;
	font-size: 27px;
}
div#mw2 a{
	position:relative;
	top:207px;
	left:90px;
	font-size: 33px;
}
div#mw3 a{
	position:relative;
	top:208px;
	left:312px;
	font-size: 36px;
}
div#mw4 a{
	position:relative;
	top:20px;
	left:400px;
	font-size: 41px;
}
div#mw5 a{
	position:relative;
	top:-100px;
	left:600px;
	font-size: 27px;
}
div#mw6 a{
	position:relative;
	top:100px;
	left:600px;
	font-size:27px;
}
div#mw7 a{
	position:relative;
	top:-220px;
	left:800px;
	font-size: 33px;
}
div#mw8 a{
	position:relative;
	top:-150px;
	left:980px;
	font-size: 33px;
}
div#mw9 a{
	position:relative;
	top:-100px;
	left:820px;
	font-size: 33px;
}
div#mw10 a{
	position:relative;
	top:-100px;
	left:1050px;
	font-size: 37px;
}
/******* end of 热点词汇 section **********/
/******* 行业交流 section **********/
section#communication{
	width:100%;
	padding-top: 34px;
	padding-bottom: 41px;
}
div.com-container{
	width:1200px;
	margin:0 auto;
}
div.com-content{
	padding-top: 65px;
}
/*表格*/
table#com-layout{
	width:100%;
}
table#com-layout  img{
	width:107px;
	height:108px;
	margin:0 auto;
}
table#com-layout #com-box{
	margin-bottom: 30px;
	padding:7px;
	margin-left:0;
	margin-right:0;
	width:121px;
	background: linear-gradient(
        to bottom,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      left top no-repeat,
    linear-gradient(
        to right,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      left top no-repeat,
    linear-gradient(
        to bottom,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      right top no-repeat,
    linear-gradient(
        to left,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      right top no-repeat,
    linear-gradient(
        to top,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      left bottom no-repeat,
    linear-gradient(
        to right,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      left bottom no-repeat,
    linear-gradient(
        to top,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      right bottom no-repeat,
    linear-gradient(
        to left,
        grey 0px,
        grey 2px,
        transparent 3px,
        transparent 100%
      )
      right bottom no-repeat;
  background-size: 30px 30px;
}
div#com-box{
	position:relative;
}
div#com-box span{
	position:absolute;
	top:118px;
	font-size:12px;
	width:80px;
	left:50%;
	margin-left: -40px;
	text-align: center;
	color:#333333;
}
/******* end of 行业交流 section **********/
/******* 组织管理 section **********/
section#organization-management{
	width:100%;
	padding-top: 35px;
	height:833px;
	background-color: #F8F8F8;
}
div.org-container{
	width:1200px;
	margin:0 auto;
}
#organization-management > div > div.org-content{
	padding-top:30px;
}
div.org-content > div.org-row{
	height: 304px;
	margin-top:20px;
	display: table;
	width:100%;
}
/* box layout set up */
#org-box1{
	height:304px;
	width:385px;
	margin-right: 20px;
	display:inline-block;
	background: url("../images1/38-org.png") no-repeat;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
}
#org-box2{
	height:304px;
	width:385px;
	margin-right: 20px;
	display:inline-block;
	background: url("../images1/39-org.png") no-repeat;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
}
#org-box3{
	height:304px;
	display:inline-block;
	width:385px;
	background: url("../images1/40-org.png") no-repeat;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
}
#org-box4{
	background: url("../images1/42-org.png") no-repeat;
	display:table-cell;
	height:290px;
	width:334px;
}
#org-box5{
	background:url("../images1/41-org.png") no-repeat;
	display:table-cell;
	height:290px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 35px;
	border:0;
	position: relative;
	left:15px;
}
div.org-subtitle{
	color:white;
	font-weight: bold;
	font-size:20px;
	text-align: left;
	width:100%;
}
#org-box5 > div.org-tabs{
	margin-top:15px;
}
/*nav list set up*/
#org-box5 > div.org-lists{
	padding-top: 20px;
}
#org1{
	height:120px;
	display: table;
}
div.org-col1{
	display: table-cell;
	padding-right: 20px;
}
div.org-col2{
	display: table-cell;
}
/******* end o f组织管理 section **********/
/******* 财会书院 section **********/
section#book-section{
	width:100%;
	padding-top: 69px;
}
div.book-container{
	width:1205px;
	margin:0 auto;
}
div.book-shelf{
	background: url("../images1/43-tab.png") no-repeat;
	height: 400px;
	width:100%;
}
div.org-lists{
	width:100%;
	height:210px;
	padding-top: 40px;
}
/*书本陈列 set up*/
div.book-shelf > div.book-subtitle{
	padding-left: 29px;
}
div.book-shelf > div.book-subtitle li{
	width:100px;
	margin-right: 20px;
}
#show-book{
	padding-top: 68px;
	display:table;
	width:100%;
}
#show-book> div >img.btn{
	margin-top: 30px;
}
ul.book-list li{
	display:table-cell;
	width:200px;
}
ul.book-list li:first-child{
	margin-left: 20px;
}

/******* end of 财会书院 section **********/
footer.panel-footer{
	width:100%;
	margin-bottom: 0;
	margin-top: 20px;
	background-color:#00008B;
}
div.footer-container{
	width:1200px;
	margin:0 auto;
}
footer.panel-footer p{
	color:white;
}
footer.panel-footer div.row{
	padding-top: 20px;
}
div.row img{
	margin-right: 30px;
}
section.info p{
	text-align: left;
}

